*{
margin: 0px;
padding: 0px;
}

body {
background:#6666;
color: black;

}
#general{
width: 1100px;
margin: auto;
margin: top:20px;
margin-bottom: :20;
background-color: blue;
}
header h1 {

	height: 150px;
	width: auto ;
	background:white;
}
nav {

background:yellow;
height: 90px;
font-family: ALGERIAN;
}
nav h2 {
	font-size: 40px;
	text-align: center;
	line-height: : 60px;
}
#contenido {
	width: 700px;
	height: 500px;
	float: left;
	background:blue;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-family: algerian;
	font-weight: bold;
	font-size: 20px;
	text-align: justify;

}
aside {
width: 250px;
height: 500px;
background:#549BC7;
margin-top: 25px;
float: right;
}
footer {
	
	height: 90px;
background:white;
clear:both;
text-align: center;
padding-top: 15px;
}